{% extends 'base.html' %}

{% block title %}قائمة الشعراء{% endblock %}

{% block content %}
<h1>جميع الشعراء</h1>
<ul>
    {% for poet in poets %}
    <li><a href="{% url 'poet_detail' poet.id %}">{{ poet.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}
{% extends 'base.html' %}

{% block title %}قائمة الشعراء{% endblock %}

{% block content %}
<h1>جميع الشعراء</h1>
<ul>
    {% for poet in poets %}
    <li><a href="{% url 'poet_detail' poet.id %}">{{ poet.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}

