<!-- poet_detail.html -->
{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>المتنبي</h2>
        <p>ليسَ العليلُ الذي حمَّاه في الجسَدِ</p>
        <p>بلِ العليلُ الذي حمّاه في الكمدِ</p>
        <p>أقسَمتُ ما قبَّلَ الحُمّى سوى ملِكٍ</p>
        <p>قبلَ الأميرِ ولا اشتاقَت إلى أحَدِ</p>
        <p>فلا تلُمها رأت شيئاً فأعجَبَها</p>
        <p>فعاوَدتكَ ولَو ملَّتكَ لَم تَعُدِ</p>
        <p>أليسَ من محَنِ الدنيا أبدًا مُعَافَاةٌ</p>
        <p>ومن عسرِ الأمورِ أبدًا مُيَسَّرَةُ</p>
    </div>
{% endblock %}
